.App {
  min-height: 100vh;
  width: 100%;
  background: url("./img/pattern-hills.svg"), url("./img/bg-stars.svg"),
    -webkit-gradient(linear, left top, left bottom, from(#191a24), to(#1e1f29));
  background: url("./img/pattern-hills.svg"), url("./img/bg-stars.svg"),
    linear-gradient(#191a24, #1e1f29);
  background-size: contain, cover, contain;
  background-repeat: no-repeat;
  background-position: right bottom, center, center;
  color: white;
}
