footer {
  width: 100%;
  padding-bottom: 2rem;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

footer .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
footer .icons .facebook {
  background: url("../../img/icon-facebook.svg") center no-repeat;
  background-size: cover;
}
footer .icons .linkedin {
  background: url("../../img/linkedin.svg") center no-repeat;
  background-size: cover;
}
footer .icons .instagram {
  background: url("../../img/icon-instagram.svg") center no-repeat;
  background-size: cover;
}
footer .icons i {
  font-size: 2.5rem;
  color: #8486a9;
  margin: 2rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
  width: 30px;
  height: 30px;
}

footer .icons i:hover {
  color: #fb6087;
}

footer .attribution {
  font-size: 11px;
  text-align: center;
}

footer .attribution a {
  color: #fb6087;
}
