.Clock {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 20px;
}
h1 {
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  margin-bottom: 2rem;
}

.timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.timer-part {
  margin: 0 1rem;
}

h2 {
  color: #fb6087;
  background-color: #343650;
  font-size: 4rem;
  border-radius: 0.5rem;
  text-align: center;
  -webkit-box-shadow: 0 0.7rem 0 #1c1720;
  box-shadow: 0 0.7rem 0 #1c1720;
  width: 7rem;
  height: 7rem;
  line-height: 7rem;
}

.label {
  text-transform: uppercase;
  color: #8486a9;
  margin-top: 1rem;
  font-size: 0.7rem;
  text-align: center;
  letter-spacing: 5px;
}

.timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
